<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>B131BE60-7B64-41E3-B696-95F3AFC65E44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8D63E21-F25A-43C5-B904-C09FFF0665C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeff Magill, Unhinged Web Studio</string>
	<key>description</key>
	<string>Open an existing site in Filezilla</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Filezilla v1.0</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>fz</string>
				<key>runningsubtext</key>
				<string>we are waiting now</string>
				<key>script</key>
				<string>#!/bin/bash

echo "&lt;?xml version=\"1.0\"?&gt;"
echo "&lt;items&gt;"

grep -io "&lt;name&gt;.*&lt;/name&gt;" ~/.filezilla/sitemanager.xml | grep -io "&gt;.*&lt;" | grep -io "[^&lt;]*" | cut -c2-10000 | grep -io "^\w.*$" | while read line; do
	set -- $line
	if [[ $line =~ {query}.* ]] ; then
		echo "&lt;item uid='$line' arg='$line' valid='YES' autocomplete='$line'&gt;"
		echo "    &lt;title&gt;$line&lt;/title&gt;"
		echo "    &lt;subtitle&gt;Open '$line' in Filezilla&lt;/subtitle&gt;"
		echo "     &lt;icon type='fileicon'&gt;/Applications/Filezilla.app&lt;/icon&gt; "
		echo "&lt;/item&gt;"
	fi

done

echo "&lt;/items&gt;"</string>
				<key>subtext</key>
				<string>Open Filezilla and connect to a site in the Site Manager</string>
				<key>title</key>
				<string>Open in Filezilla</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B131BE60-7B64-41E3-B696-95F3AFC65E44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open /Applications/FileZilla.app/ --args --site=0/{query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B8D63E21-F25A-43C5-B904-C09FFF0665C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>B131BE60-7B64-41E3-B696-95F3AFC65E44</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>B8D63E21-F25A-43C5-B904-C09FFF0665C6</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://unhingedweb.com</string>
</dict>
</plist>
