<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Add to Pocket</string>
	<key>connections</key>
	<dict>
		<key>8DE8D2D8-473E-4FBF-AD94-E7BD8B5F5E2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51B501DE-BD7F-4176-B408-4C96AA702DF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xcv58</string>
	<key>description</key>
	<string>Add current webpage to Pocket</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Add to Pocekt</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8DE8D2D8-473E-4FBF-AD94-E7BD8B5F5E2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.safari</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>javascript:(function()%7BISRIL_H='49c9';PKT_D='getpocket.com';ISRIL_SCRIPT=document.createElement('SCRIPT');ISRIL_SCRIPT.type='text/javascript';ISRIL_SCRIPT.src='http://'+PKT_D+'/b/r.js';document.getElementsByTagName('head')%5B0%5D.appendChild(ISRIL_SCRIPT)%7D)();</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>51B501DE-BD7F-4176-B408-4C96AA702DF1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>51B501DE-BD7F-4176-B408-4C96AA702DF1</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>8DE8D2D8-473E-4FBF-AD94-E7BD8B5F5E2F</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>xcv58.com</string>
</dict>
</plist>
