<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xcv58.time</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>495D6810-993A-43D0-8CF9-732D8F715AA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EAD8ECF-2462-4B51-82BA-0AF918C4FCA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xcv58</string>
	<key>description</key>
	<string>test</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Screen Time</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{date}
{time}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>0EAD8ECF-2462-4B51-82BA-0AF918C4FCA2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>495D6810-993A-43D0-8CF9-732D8F715AA4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>test</string>
	<key>uidata</key>
	<dict>
		<key>0EAD8ECF-2462-4B51-82BA-0AF918C4FCA2</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>495D6810-993A-43D0-8CF9-732D8F715AA4</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
