<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>5F4CC781-4175-422C-A8E1-BC8E012C03B2</key>
		<array/>
		<key>B0C2F8BE-9366-4BBB-B223-BA3B5EEAEDF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E69B3C1-7C8F-4B68-8BEA-4272F8B5D6DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B351B5EB-489D-4B5D-AAD7-BE5EDB900626</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F4CC781-4175-422C-A8E1-BC8E012C03B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CBEC9A17-7495-44E1-A416-8A15819DDC8D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5F4CC781-4175-422C-A8E1-BC8E012C03B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C385CEB8-2072-4215-905A-C273D1387D03</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0E1A8DE8-46DC-41DF-A0C3-CA2F0F0CACB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D76514AA-C458-44D3-9EE4-46B5E1C305CE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>83FBAFDB-B3E5-49F0-AC57-BDE51799B705</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5520834-787D-4A75-9F0B-EC5ECA45DA34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B351B5EB-489D-4B5D-AAD7-BE5EDB900626</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xcv58</string>
	<key>description</key>
	<string>Use hotkey to populate Alfred with selected text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search or dict selected text</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5F4CC781-4175-422C-A8E1-BC8E012C03B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&amp;//=]*)$</string>
						<key>outputlabel</key>
						<string>URL</string>
						<key>uid</key>
						<string>CBEC9A17-7495-44E1-A416-8A15819DDC8D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^http:\/\/go\/.*</string>
						<key>outputlabel</key>
						<string>HTTP GO link</string>
						<key>uid</key>
						<string>C385CEB8-2072-4215-905A-C273D1387D03</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>^go/.*</string>
						<key>outputlabel</key>
						<string>go/link</string>
						<key>uid</key>
						<string>D76514AA-C458-44D3-9EE4-46B5E1C305CE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Search query</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B351B5EB-489D-4B5D-AAD7-BE5EDB900626</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C5520834-787D-4A75-9F0B-EC5ECA45DA34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0E1A8DE8-46DC-41DF-A0C3-CA2F0F0CACB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>83FBAFDB-B3E5-49F0-AC57-BDE51799B705</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.mail</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B0C2F8BE-9366-4BBB-B223-BA3B5EEAEDF5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here
  set query to q
  set address to "http://dict.cn/"
  set address to address &amp; query
  tell application "Safari"
    activate
    open location address
  end tell
--     display dialog q
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>8E69B3C1-7C8F-4B68-8BEA-4272F8B5D6DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search selected text or go the the website</string>
	<key>uidata</key>
	<dict>
		<key>0E1A8DE8-46DC-41DF-A0C3-CA2F0F0CACB6</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>5F4CC781-4175-422C-A8E1-BC8E012C03B2</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>83FBAFDB-B3E5-49F0-AC57-BDE51799B705</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>8E69B3C1-7C8F-4B68-8BEA-4272F8B5D6DC</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>B0C2F8BE-9366-4BBB-B223-BA3B5EEAEDF5</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>B351B5EB-489D-4B5D-AAD7-BE5EDB900626</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>C5520834-787D-4A75-9F0B-EC5ECA45DA34</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
