<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1ACC2CC3-5805-4999-A87C-BCB2BA6B601B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95F5C010-FB52-4E68-AD46-A0DE8B04D33A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>95F5C010-FB52-4E68-AD46-A0DE8B04D33A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>998DB00C-7309-499C-B539-40973A97A260</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xcv58</string>
	<key>description</key>
	<string>记账 in quip</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>记账</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python ~/Dropbox/MacHome/Shell_script/jz.py {query}</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95F5C010-FB52-4E68-AD46-A0DE8B04D33A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>记账</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>998DB00C-7309-499C-B539-40973A97A260</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jz</string>
				<key>subtext</key>
				<string>m.xcv58.com</string>
				<key>text</key>
				<string>记账</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1ACC2CC3-5805-4999-A87C-BCB2BA6B601B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1ACC2CC3-5805-4999-A87C-BCB2BA6B601B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>95F5C010-FB52-4E68-AD46-A0DE8B04D33A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>998DB00C-7309-499C-B539-40973A97A260</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
