<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>4B583296-58CA-4739-A2C7-015560E85900</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E589C80D-B131-4ED3-9149-8972E618AB47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9BB1F1EC-201C-4C2D-B563-2473C24E7467</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C374B1E0-7800-4B16-A07C-F4F5ECC8022E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C374B1E0-7800-4B16-A07C-F4F5ECC8022E</key>
		<array/>
		<key>E589C80D-B131-4ED3-9149-8972E618AB47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1699E2D-4C39-4FA4-A120-4C1F70A98647</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xcv58</string>
	<key>description</key>
	<string>Run dict in shell and return result</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dict</string>
	<key>objects</key>
	<array>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>C1699E2D-4C39-4FA4-A120-4C1F70A98647</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>sdcv -n --utf8-output -u Merrian\ Webster\ 10th\ dictionary {query} | sed -e 's/--&gt;.*Merri.*//g' | sed -e '/^$/d' | head -n 11</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E589C80D-B131-4ED3-9149-8972E618AB47</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dd</string>
				<key>text</key>
				<string>dict</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4B583296-58CA-4739-A2C7-015560E85900</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DD92DA6F-1DCA-45FB-A156-0DC7B0A872C5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>9F6FE39E-D0F0-486C-B59B-7039F7C2718B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>dcn</string>
				<key>text</key>
				<string>Dict.cn</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9BB1F1EC-201C-4C2D-B563-2473C24E7467</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://dict.cn/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C374B1E0-7800-4B16-A07C-F4F5ECC8022E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4B583296-58CA-4739-A2C7-015560E85900</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>9BB1F1EC-201C-4C2D-B563-2473C24E7467</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>9F6FE39E-D0F0-486C-B59B-7039F7C2718B</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>C1699E2D-4C39-4FA4-A120-4C1F70A98647</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>C374B1E0-7800-4B16-A07C-F4F5ECC8022E</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>DD92DA6F-1DCA-45FB-A156-0DC7B0A872C5</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>E589C80D-B131-4ED3-9149-8972E618AB47</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.xcv58.com</string>
</dict>
</plist>
